.FeedbackForm{
    position: absolute;
    background-color: rgb(173, 222, 245);
    /* background-color: pink; */
    border-radius: 0 40px 40px 0;
    width: 500px;
    height: 100vh;
    bottom: 0;
    transition: all 0.8s ease-out;
    padding-left: 2rem;
}

.FeedbackForm h2{
    margin: 3.7rem 0 0 0;
}

.InputContainer p{
    margin: 5px 0 1.5px 5px;
    font-weight: 500;
}

.InputContainer input{
    width: 15rem;
    height: 2.2rem;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 15px rgb(194, 193, 193);
}

.Address{
    width: 20rem;
}